html,body { background: #fff ; font: 15px/1.5em Helvetica Neue, Helvetica, Arial, Sans-serif; min-width: 320px; margin: 0; padding: 0;}
.cf:after { content: '\20'; display: block; height: 0; clear: both; }
.cf { *zoom: 1; }
*{ padding: 0; margin: 0;}


/* defalut */
.full_media_slider{ margin-bottom: 3%;}

.default_slider_container { max-width: 1000px; width: 100%; margin: 0 auto;}

.default_slider_container .goToBlock { width: 80%; margin: 1% auto; display: none;}

.default_slider_container .goToBlock .go { width: 19%; height: 30px; background: #e1e1e1; margin: 0 1% 0 0; cursor: pointer; float: left;}
.default_slider_container .goToBlock .active{ background: #aaa;}
.default_slider { position: relative; overflow: hidden; height: 500px; margin: 0 auto; width: 100%;}

.default_slider .slider { width: 100%; height: 100%; position: relative;}

.default_slider .slider .item { float: left; width: 100%; height: 100%; position: relative; overflow: hidden;}
.default_slider .slider .item img{ float: left; width: 100%; min-width: 480px;}
.default_slider .slider .left_txt img{ float: right;}
.default_slider .slider .item .txt{ position: absolute; display: none; left: 55%; top: 15%; max-width: 500px; width: 46%; font-size: 1.2em;}
.default_slider .slider .left_txt .txt{ left: 5%;}
.default_slider .slider .item h2{ font-size: 1.8em; line-height: 1.5em; margin-bottom: 3%;}
.default_slider .slider .item .txt p{ color: #666; line-height: 1.5em; margin-bottom: 3%;}
.default_slider .slider .item .txt .link a{ font-size: 1.2em; color: #333;}

/*.w1 .default_slider{ height: 500px;}
.w2 .default_slider{ height: 400px;}
.w3 .default_slider{ height: 320px;}
.w4 .default_slider{ height: 240px;}
.w5 .default_slider{ height: 180px;}*/
.w4 .default_slider .img_wrap{ height: 200px; overflow: hidden;}


/*.w1 .default_slider .slider .item img{ height: 500px;}
.w2 .default_slider .slider .item img{ height: 400px;}
.w3 .default_slider .slider .item img{ height: 320px;}
.w4 .default_slider .slider .item img{ height: 240px;}
.w5 .default_slider .slider .item img{ height: 180px;}*/

.w1 .default_slider .slider .item .txt{ font-size: 0.9em;}
.w2 .default_slider .slider .item .txt{ font-size: 0.8em;}
.w3 .default_slider .slider .item .txt{ font-size: 0.7em;}
.w4 .default_slider .slider .item .txt{ position: static; font-size: 0.6em; padding: 1% 0 0 3%; width: 95%;}


.w4 .default_slider .slider .item h2{ font-size: 1.5em; margin-bottom: 0; float: left;}
.w4 .default_slider .slider .item .txt .link{ float: right;}
.w4 .default_slider .slider .item .txt p{ display: none;}
.w4 .default_slider .slider .item .txt h2 br{ display: none;}

.w4 .default_slider_container .goToBlock{ width: 125px; margin: 1% auto; display: block;}
.w4 .default_slider_container .goToBlock .go{ width: 15px; height: 15px; margin-right: 10px; border-radius: 20px;}





