@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px; font-size:12px;}
li{ list-style:none;}
ul,li,p,div,h1,h3,h4,h5,h6,h7{ margin:0px; padding:0px;}
.bg3{ background:url(images/bg.jpg) no-repeat center;}
.ku3_top{ height:50px; background:url(images/top_01.png) no-repeat; background-size:100% auto; width:100%; margin:0px auto; position:fixed; top:0px;}
.ku3_top select{ width:230px; height:20px; margin:10px 0px 0px 100px; background:none; border:none; font-size:16px; padding:0px 15px;}
.liw{ width:285px; margin:70px auto 0px;}
.ku3_title{ background:url(images/ku3_04.jpg) no-repeat; background-size:280px; height:22px;}
.ku3_list li{ background:url(images/ku3_06.jpg) no-repeat; background-size:280px; height:48px; color:#fff; padding:10px 20px; font-size:20px;}
.ku3_list li img{ float:left; width:57px; margin-right:10px; 
-webkit-box-shadow: #000 0px 1px 2px;
-moz-box-shadow: #000 0px 1px 2px;
box-shadow: #000 0px 1px 2px;
background: #fff;}
.ku3_list li div{ float:left; width:175px; height:50px; overflow:hidden;}
.ku3_list li p{ padding:0px 0px;}
.cor666{ color:#eaeaea}
.font28{ font-size:14px;}
.ku4_bg{ background:url(images/ku4_06.jpg) no-repeat; background-size:280px 100%; width:250px; padding:20px 14px;}
.img{ width:165px; height:126px; margin:20px auto;-webkit-box-shadow: #000 0px 1px 2px;
-moz-box-shadow: #000 0px 1px 2px;
box-shadow: #000 0px 1px 2px;
background: #fff;
}
.tab_style { margin-top:50px;}
.tab_style td{ padding:5px; color:#eaeaea;}